
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";




.login{
  margin-top: 60px;
  margin-bottom: 60px;
}

#shiva
{
  width: 150px;
  height: 150px;
  background: #08c;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;

  text-align: center;
  padding-left: 10px;
}
.count
{
  line-height: 150px;
  color:white;
  font-size:25px;

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(22, 27, 22, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Footer */

html, body {
    height: 100%;
}
.wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}
body {
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

 .footer {

    display: block;
    margin-top: 150px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
    
}


.main-footer{
    color:#fff;
    background-color:#000;
    text-align:center;
}

.contact a{
    display:block;
    background-color:#292b34;
    font-size:18px;
    text-align:center;
    color:#fff;
}



.contact a.google:hover,.fa-instagram{
    color:#dd4b39;
}

.contact a.linkedin:hover,.fa-facebook{
    color:#0e76a8;
}

.contact a.twitter:hover,.fa-twitter{
    color:#00acee;
}

.c-c{
 line-height: 200%;
 text-align: justify;
 text-justify: inter-word;

} 

.dotted{
   border-bottom: 2px dashed #322f32;
}

.heade_cc{
  background-color: black;
    color: white;
    padding: 10px;
}

.sernotc{
  
   padding: 5px; 
   border: solid;
   border-width: 2px;
}

.tc_view_panal{
  border-style: double; 
  border-width: 20px;
}



table {
    border-collapse: separate;
    empty-cells: inherit;
}

td:empty:after, th:empty:after {
  content: "\00a0";
}

div.col-sm-7.five-three {
    width: 60% !important;
    }

    div.col-sm-5.five-two {
      width: 40% !important;
    }

    .paddingbox{
    border: solid; padding: 5px;
    }

   

.ddsidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the ddsidenav */
    margin-top: 100px;
    padding-bottom: 100px;
}

/* The navigation menu links */
.ddsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.ddsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.ddsidenav .ccclosebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the ddsidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .ddsidenav {padding-top: 15px;}
    .ddsidenav a {font-size: 18px;}
}
